.App {
  text-align: center;
}

.App-header {
  background-color: #20242b;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #20242b;
  min-height: 88.97vh; 
  display: block;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white; 
}

.maintext {
  margin-bottom: 0;
}

h3 {
  margin-top: 0;
  padding-top: 50px;
}

.numParticipantsButton {
  background-color: rgb(0, 100, 0);
  color: white;
  font-size: xx-large;
  border-style: hidden;
  border-radius: 6px;
  height: 70px;
  width: 170px;
  margin-top: 50px;
  margin-inline: 15px;
  display: inline;
}

.submitParticipantsButton {
  background-color: rgb(0, 100, 0);
  color: white;
  font-size: xx-large;
  border-style: hidden;
  border-radius: 6px;
  height: 70px;
  width: 300px;
  margin-bottom: 0px;
  margin-top: 350px;
  text-align: center;
}

.bracketImage {
  align-items: center;
  margin-top: -300px;
  width: 1200px;
}

.input3-4 {
  font-size: x-large;
  color: white;
  background-color: #292d35;
  border: none;
  text-align: center;
  width: 250px;
  height: 40px;
}

.input5-8 {
  font-size: large;
  color: white;
  background-color:#292d35;
  border: none;
  text-align: center;
  width: 160px;
  height: 30px;
}

.input9-16 {
  font-size: large;
  color: white;
  background-color:#292d35;
  border: none;
  text-align: center;
  width: 154px;
  height: 30px;
}

.input17-32 {
  font-size: medium;
  color: white;
  background-color:#292d35;
  border: none;
  text-align: center;
  width: 118px;
  height: 20px;
}

.p3-4, .p5-8 {
  font-size: x-large;
  color: white;
  text-align: center;
  width: 250px;
  height: 40px;
}

.p9-16 {
  font-size: large;
  color: white;
  text-align: center;
  width: 154px;
  height: 30px;
}

.p17-32 {
  font-size: medium;
  color: white;
  text-align: center;
  width: 154px;
  height: 30px;
}

#img3-4, #img5-8 {
  margin-bottom: -250px;
}

#img9-16 {
  margin-top: 0px;
  margin-bottom: -350px;
  width: 1500px;
}

#img17-32 {
  margin-top: -50px;
  margin-bottom: -350px;
  width: 1400px
}

#btn3-4 {
  margin-top: -300px;
}

#btn5-8 {
  margin-top: -300px
}

#input3-4-submit, #input5-8-submit, #input9-16-submit, #input17-32-submit {
  background-color: rgb(0, 100, 0);
  color: white;
  font-size: xx-large;
  border-style: hidden;
  border-radius: 6px;
  height: 70px;
  width: 300px;
  text-align: center;
}

/* Below is all of the absolute positioning for every input element, and other attributes for the submit buttons. */

#input3-4-1 {
  position: absolute;
  top: 410px;
  left: 765px;
}

#p3-4-1 {
  position: absolute;
  top: 400px;
  left: 765px;
}

#input3-4-2 {
  position: absolute;
  top: 668px;
  left: 765px;
}

#p3-4-2 {
  position: absolute;
  top: 658px;
  left: 765px;
}

#input3-4-3 {
  position: absolute;
  top: 410px;
  left: 1541px;
}

#p3-4-3 {
  position: absolute;
  top: 400px;
  left: 1541px;
}

#input3-4-4 {
  position: absolute;
  top: 668px;
  left: 1541px;
}

#p3-4-4 {
  position: absolute;
  top: 658px;
  left: 1541px;
}

#input5-8-1 {
  position: absolute;
  top: 350px;
  left: 760px;
}

#p5-8-1 {
  position: absolute;
  top: 325px;
  left: 700px;
}

#input5-8-2 {
  position: absolute;
  top: 513px;
  left: 760px;
}

#p5-8-2 {
  position: absolute;
  top: 488px;
  left: 700px;
}

#input5-8-3 {
  position: absolute;
  top: 594px;
  left: 760px;
}

#p5-8-3 {
  position: absolute;
  top: 569px;
  left: 700px;
}

#input5-8-4 {
  position: absolute;
  top: 757px;
  left: 760px;
}

#p5-8-4 {
  position: absolute;
  top: 732px;
  left: 700px;
}

#input5-8-5 {
  position: absolute;
  top: 350px;
  left: 1637px;
}

#p5-8-5 {
  position: absolute;
  top: 325px;
  left: 1610px;
}

#input5-8-6 {
  position: absolute;
  top: 513px;
  left: 1637px;
}

#p5-8-6 {
  position: absolute;
  top: 488px;
  left: 1610px;
}

#input5-8-7 {
  position: absolute;
  top: 594px;
  left: 1637px;
}

#p5-8-7 {
  position: absolute;
  top: 569px;
  left: 1610px;
}

#input5-8-8 {
  position: absolute;
  top: 757px;
  left: 1637px;
}

#p5-8-8 {
  position: absolute;
  top: 732px;
  left: 1610px;
}

#input9-16-1 {
  position: absolute;
  top: 297px;
  left: 568px;
}

#p9-16-1 {
  position: absolute;
  top: 290px;
  left: 571px;
}

#input9-16-2 {
  position: absolute;
  top: 396px;
  left: 568px;
}

#p9-16-2 {
  position: absolute;
  top: 389px;
  left: 571px;
}

#input9-16-3 {
  position: absolute;
  top: 474px;
  left: 568px;
}

#p9-16-3 {
  position: absolute;
  top: 467px;
  left: 571px;
}

#input9-16-4 {
  position: absolute;
  top: 573px;
  left: 564px;
}

#p9-16-4 {
  position: absolute;
  top: 566px;
  left: 571px;
}

#input9-16-5 {
  position: absolute;
  top: 685px;
  left: 568px;
}

#p9-16-5 {
  position: absolute;
  top: 679px;
  left: 571px;
}

#input9-16-6 {
  position: absolute;
  top: 784px;
  left: 566px;
}

#p9-16-6 {
  position: absolute;
  top: 778px;
  left: 571px;
}

#input9-16-7 {
  position: absolute;
  top: 861px;
  left: 568px;
}

#p9-16-7 {
  position: absolute;
  top: 855px;
  left: 571px;
}

#input9-16-8 {
  position: absolute;
  top: 960px;
  left: 567px;
}

#p9-16-8 {
  position: absolute;
  top: 954px;
  left: 571px;
}

#input9-16-9 {
  position: absolute;
  top: 292px;
  left: 1800px;
}

#p9-16-9 {
  position: absolute;
  top: 287px;
  left: 1800px;
}

#input9-16-10 {
  position: absolute;
  top: 391px;
  left: 1800px;
}

#p9-16-10 {
  position: absolute;
  top: 386px;
  left: 1800px;
}

#input9-16-11 {
  position: absolute;
  top: 467px;
  left: 1800px;
}

#p9-16-11 {
  position: absolute;
  top: 463px;
  left: 1800px;
}

#input9-16-12 {
  position: absolute;
  top: 566px;
  left: 1801px;
}

#p9-16-12 {
  position: absolute;
  top: 562px;
  left: 1800px;
}

#input9-16-13 {
  position: absolute;
  top: 680px;
  left: 1800px;
}

#p9-16-13 {
  position: absolute;
  top: 675px;
  left: 1800px;
}

#input9-16-14 {
  position: absolute;
  top: 779px;
  left: 1803px;
}

#p9-16-14 {
  position: absolute;
  top: 774px;
  left: 1800px;
}

#input9-16-15 {
  position: absolute;
  top: 856px;
  left: 1800px;
}

#p9-16-15 {
  position: absolute;
  top: 851px;
  left: 1800px;
}

#input9-16-16 {
  position: absolute;
  top: 955px;
  left: 1799px;
}

#p9-16-16 {
  position: absolute;
  top: 950px;
  left: 1800px;
}

#input9-16-submit {
  position: absolute;
  align-items: center;
  top: 1050px;
  left: 1112px;
}

#input17-32-1 {
  position: absolute;
  top: 300px;
  left: 588px;
}

#p17-32-1 {
  position: absolute;
  top: 290px;
  left: 565px;
}

#input17-32-2 {
  position: absolute;
  top: 347px;
  left: 588px;
}

#p17-32-2 {
  position: absolute;
  top: 337px;
  left: 565px;
}

#input17-32-3 {
  position: absolute;
  top: 408px;
  left: 588px;
}

#p17-32-3 {
  position: absolute;
  top: 398px;
  left: 565px;
}

#input17-32-4 {
  position: absolute;
  top: 455px;
  left: 586px;
}

#p17-32-4 {
  position: absolute;
  top: 445px;
  left: 565px;
}

#input17-32-5 {
  position: absolute;
  top: 507px;
  left: 586px;
}

#p17-32-5 {
  position: absolute;
  top: 498px;
  left: 565px;
}

#input17-32-6 {
  position: absolute;
  top: 554px;
  left: 586px;
}

#p17-32-6 {
  position: absolute;
  top: 545px;
  left: 565px;
}

#input17-32-7 {
  position: absolute;
  top: 614px;
  left: 586px;
}

#p17-32-7 {
  position: absolute;
  top: 605px;
  left: 565px;
}

#input17-32-8 {
  position: absolute;
  top: 661px;
  left: 586px;
}

#p17-32-8 {
  position: absolute;
  top: 652px;
  left: 565px;
}

#input17-32-9 {
  position: absolute;
  top: 735px;
  left: 588px;
}

#p17-32-9 {
  position: absolute;
  top: 726px;
  left: 565px;
}

#input17-32-10 {
  position: absolute;
  top: 782px;
  left: 588px;
}

#p17-32-10 {
  position: absolute;
  top: 773px;
  left: 565px;
}

#input17-32-11 {
  position: absolute;
  top: 841px;
  left: 584px;
}

#p17-32-11 {
  position: absolute;
  top: 832px;
  left: 565px;
}

#input17-32-12 {
  position: absolute;
  top: 888px;
  left: 584px;
}

#p17-32-12 {
  position: absolute;
  top: 879px;
  left: 565px;
}

#input17-32-13 {
  position: absolute;
  top: 942px;
  left: 588px;
}

#p17-32-13 {
  position: absolute;
  top: 933px;
  left: 565px;
}

#input17-32-14 {
  position: absolute;
  top: 989px;
  left: 588px;
}

#p17-32-14 {
  position: absolute;
  top: 980px;
  left: 565px;
}

#input17-32-15 {
  position: absolute;
  top: 1049px;
  left: 586px;
}

#p17-32-15 {
  position: absolute;
  top: 1040px;
  left: 565px;
}

#input17-32-16 {
  position: absolute;
  top: 1095px;
  left: 586px;
}

#p17-32-16 {
  position: absolute;
  top: 1087px;
  left: 565px;
}

#input17-32-17 {
  position: absolute;
  top: 300px;
  left: 1804px;
}

#p17-32-17 {
  position: absolute;
  top: 290px;
  left: 1779px;
}

#input17-32-18 {
  position: absolute;
  top: 347px;
  left: 1804px;
}

#p17-32-18 {
  position: absolute;
  top: 337px;
  left: 1779px;
}

#input17-32-19 {
  position: absolute;
  top: 408px;
  left: 1801px;
}

#p17-32-19 {
  position: absolute;
  top: 398px;
  left: 1779px;
}

#input17-32-20 {
  position: absolute;
  top: 455px;
  left: 1801px;
}

#p17-32-20 {
  position: absolute;
  top: 445px;
  left: 1779px;
}

#input17-32-21 {
  position: absolute;
  top: 508px;
  left: 1807px;
}

#p17-32-21 {
  position: absolute;
  top: 498px;
  left: 1779px;
}

#input17-32-22 {
  position: absolute;
  top: 555px;
  left: 1807px;
}

#p17-32-22 {
  position: absolute;
  top: 545px;
  left: 1779px;
}

#input17-32-23 {
  position: absolute;
  top: 614px;
  left: 1803px;
}

#p17-32-23 {
  position: absolute;
  top: 605px;
  left: 1779px;
}

#input17-32-24 {
  position: absolute;
  top: 661px;
  left: 1803px;
}

#p17-32-24 {
  position: absolute;
  top: 652px;
  left: 1779px;
}

#input17-32-25 {
  position: absolute;
  top: 735px;
  left: 1804px;
}

#p17-32-25 {
  position: absolute;
  top: 725px;
  left: 1779px;
}

#input17-32-26 {
  position: absolute;
  top: 782px;
  left: 1804px;
}

#p17-32-26 {
  position: absolute;
  top: 772px;
  left: 1779px;
}

#input17-32-27 {
  position: absolute;
  top: 841px;
  left: 1804px;
}

#p17-32-27 {
  position: absolute;
  top: 832px;
  left: 1779px;
}

#input17-32-28 {
  position: absolute;
  top: 888px;
  left: 1804px;
}

#p17-32-28 {
  position: absolute;
  top: 879px;
  left: 1779px;
}

#input17-32-29 {
  position: absolute;
  top: 942px;
  left: 1804px;
}

#p17-32-29 {
  position: absolute;
  top: 932px;
  left: 1779px;
}

#input17-32-30 {
  position: absolute;
  top: 989px;
  left: 1804px;
}

#p17-32-30 {
  position: absolute;
  top: 979px;
  left: 1779px;
}

#input17-32-31 {
  position: absolute;
  top: 1049px;
  left: 1803px;
}

#p17-32-31 {
  position: absolute;
  top: 1039px;
  left: 1779px;
}

#input17-32-32 {
  position: absolute;
  top: 1095px;
  left: 1803px;
}

#p17-32-32 {
  position: absolute;
  top: 1086px;
  left: 1779px;
}

#input17-32-submit {
  align-items: center;
  position: absolute;
  top: 1050px;
  left: 1106px;
}